<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>name</key> <string>Google </string>
            <key>symbol</key> <string>GOOG </string>
        </dict>
        
        <dict>
            <key>name</key> <string>Apple </string>
            <key>symbol</key> <string>AAPL </string>
        </dict>
        <dict>
            <key>name</key> <string>Microsoft </string>
            <key>symbol</key> <string>MSFT </string>
        </dict>
    </array>
</plist>
